**/solutions/
*.o
*.dSYM/
*.out
.DS_Store

# C test binaries (module 00-01)
**/exercises/**/test_hello_bin
**/exercises/**/test_strings_bin
**/exercises/**/test_structs_bin
**/exercises/**/test_bits_bin
**/exercises/**/test_float_bits_bin
**/exercises/**/test_dns_bin
**/exercises/**/test_puzzles
**/exercises/**/test_sort
**/exercises/**/test_backtrace
**/exercises/**/test_bump
**/exercises/**/test_freelist
**/exercises/**/test_pool

# C++ binaries (modules 02-07)
**/exercises/**/*_bin
**/exercises/**/bench_*_bin
**/exercises/**/server_bin
